body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
:root{
    --primary-dark : #000000;
    --primary-light : #ffffff;
    --primary-dark-light : #212121;
    --primary-light-dark : #dedede;
}
#screen{
    text-align: end;
    margin-top:5px;
    padding-right: 10px;
    font-size: 22px;
    width: 250px;
    height:90px;
    overflow: auto;
    overflow-x : visible;   
}
#screen::-webkit-scrollbar{
    width:0px;
}
#evalution{
    min-width: 250px;
    text-align: right;
    word-wrap: break-word;
    word-break: break-all;
    overflow : auto;
}
.current-answer{
    opacity: 0.6;
    align-self: flex-end;
    position: relative;
    /* top:-4px; */
}
.calc{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* gap:55px; */
    height: 450px;
    border:1px solid var(--primary-light);
    padding : 5px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px white;
}
#buttons{
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}
hr{
    color : white;
    width : 250px;
}
input{
    border : none;
    border-radius: 500px;
    height: 55px;
    width : 55px; 
    margin : 2px;
    color : var(--primary-light);
    background-color: var(--primary-dark-light);
}

#bracket,#mod,#divide,#multiply,#subtract,#sum{
    color : rgb(0, 202, 0)
}
#equalTo{
    background-color:rgb(0, 202, 0)
}
#clear{
    color :rgb(255, 37, 37)
}
#plusminus{
    position: relative;
    top:-1px;
    font-size: 14px;
    opacity: 0.5;
}

#back-container{
    align-self: flex-end;
    display: flex;
    align-items: flex-end;
    padding-right: 20px;
}

#backspace{
    position:relative;
    width:30px;
    height: 30px;
    right: -25px;
    background-color: #000000;
    background: transparent;
}
svg{
    position:relative;
    top:-10px;
    color:rgb(0, 202, 0);
    z-index:-1;
}
.animate{
    animation : mymove 0.1s ease-out
}
@keyframes mymove {
    0% { opacity : 1;
        top : -4px;
        font-size:18px;
        }
    25%{ opacity : 0.75;
        top:-24.5px;
        font-size: 19px;}
    50%{ opacity :0.5;
        top : -45px;
        font-size:20px;}
    75%{ opacity :0.25;
        top:-65.5px;
        font-size:21px;}
    100%{ opacity : 0;
        top : -86px;
        font-size:22px;}
}
@media screen and (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;
    }
}
#bracket{
    opacity: 0.5;
}